{
  "env": {
    "browser": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "accounting": false,
    "$": false,
    "google": false,
    "jQuery": false,
    "TeamWorkOnline": false
  },
  "parserOptions": {
    "ecmaVersion": 5
  },
  "rules": {
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
  }
}
